:root {
}

.boton-animado {
    transition-property: transform-origin, ignored;
    transition-duration: 0.2s, 0s;
    transition-timing-function: ease-out-back, ease;
}

.boton-animado:hover {
    scale: 1.1 1.1;
}
